USE [master]
GO
/****** Object:  Database [DB_CuaHangNoiThat]    Script Date: 17/12/2023 6:17:29 CH ******/
CREATE DATABASE [DB_CuaHangNoiThat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_CuaHangNoiThat', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DB_CuaHangNoiThat.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_CuaHangNoiThat_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DB_CuaHangNoiThat_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_CuaHangNoiThat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_CuaHangNoiThat]
GO
/****** Object:  Table [dbo].[CTHoaDon]    Script Date: 17/12/2023 6:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHoaDon](
	[MaCT] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [varchar](10) NULL,
	[MaSP] [varchar](10) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPhieuNhap]    Script Date: 17/12/2023 6:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPhieuNhap](
	[MaCT] [varchar](10) NOT NULL,
	[MaPN] [varchar](10) NULL,
	[MaSP] [varchar](10) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 17/12/2023 6:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](10) NOT NULL,
	[NgayLap] [date] NULL,
	[MaKH] [varchar](10) NULL,
	[MaNV] [varchar](10) NULL,
	[TinhTrang] [bit] NULL,
	[TongTien] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 17/12/2023 6:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[Email] [varchar](max) NULL,
	[NgaySinh] [date] NULL,
	[DienThoai] [varchar](11) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[MatKhau] [varchar](max) NULL,
	[MaNhom] [varchar](6) NULL,
	[TinhTrang] [varchar](10) NULL,
	[HinhAnh] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 17/12/2023 6:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [int] IDENTITY(1,1) NOT NULL,
	[TenKM] [nvarchar](255) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayBatDau] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[GiamGiaPhanTram] [decimal](5, 2) NOT NULL,
	[SoLuongToiThieu] [int] NOT NULL,
	[SoLuongToiDa] [int] NULL,
	[ApDungToanBo] [bit] NOT NULL,
	[MaLoai] [int] NULL,
	[MaNhom] [varchar](6) NULL,
	[MaNCC] [int] NULL,
	[TinhTrang] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai]    Script Date: 17/12/2023 6:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManHinh]    Script Date: 17/12/2023 6:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManHinh](
	[MaMH] [int] IDENTITY(1,1) NOT NULL,
	[TenMH] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 17/12/2023 6:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](255) NULL,
	[DienThoai] [varchar](11) NULL,
	[DiaChi] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 17/12/2023 6:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[TenNV] [nvarchar](255) NULL,
	[CCCD] [varchar](13) NULL,
	[Email] [varchar](max) NULL,
	[NgaySinh] [date] NULL,
	[DienThoai] [varchar](11) NULL,
	[MatKhau] [varchar](max) NULL,
	[MaNhom] [varchar](6) NULL,
	[TinhTrang] [varchar](10) NULL,
	[HinhAnh] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomNguoiDung]    Script Date: 17/12/2023 6:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomNguoiDung](
	[MaNhom] [varchar](6) NOT NULL,
	[TenNhom] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 17/12/2023 6:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPN] [varchar](10) NOT NULL,
	[NgayLap] [date] NULL,
	[MaNV] [varchar](10) NULL,
	[TongTien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 17/12/2023 6:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [int] IDENTITY(1,1) NOT NULL,
	[MaMH] [int] NULL,
	[MaNhom] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 17/12/2023 6:17:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](10) NOT NULL,
	[TenSP] [nvarchar](255) NULL,
	[TinhTrang] [bit] NULL,
	[MaNCC] [int] NULL,
	[MoTa] [nvarchar](max) NULL,
	[MaLoai] [int] NULL,
	[KichThuoc] [nvarchar](50) NULL,
	[MauSac] [nvarchar](50) NULL,
	[ChatLieu] [nvarchar](50) NULL,
	[XuatXu] [nvarchar](50) NULL,
	[DonVi] [nvarchar](20) NULL,
	[ChuongTrinhApDung] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[SoLuongTon] [int] NULL,
	[HinhAnh] [varchar](max) NULL,
	[DonGia] [decimal](18, 0) NOT NULL,
	[GiaNhap] [decimal](18, 0) NOT NULL,
	[GiaBan] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CTHoaDon] ON 

INSERT [dbo].[CTHoaDon] ([MaCT], [MaHD], [MaSP], [SoLuong]) VALUES (1, N'15102301', N'1089271', 2)
INSERT [dbo].[CTHoaDon] ([MaCT], [MaHD], [MaSP], [SoLuong]) VALUES (2, N'15102301', N'1096293', 1)
INSERT [dbo].[CTHoaDon] ([MaCT], [MaHD], [MaSP], [SoLuong]) VALUES (3, N'15102301', N'2001081', 1)
SET IDENTITY_INSERT [dbo].[CTHoaDon] OFF
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaKH], [MaNV], [TinhTrang], [TongTien]) VALUES (N'15102301', CAST(N'2023-10-15' AS Date), N'2311230001', N'Admin', 1, CAST(50000000 AS Decimal(18, 0)))
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaKH], [MaNV], [TinhTrang], [TongTien]) VALUES (N'16102301', CAST(N'2023-10-16' AS Date), N'2311230002', N'Admin', 1, CAST(60000000 AS Decimal(18, 0)))
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaKH], [MaNV], [TinhTrang], [TongTien]) VALUES (N'20102301', CAST(N'2023-10-20' AS Date), N'2311230001', N'Admin', 1, CAST(50000000 AS Decimal(18, 0)))
GO
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [Email], [NgaySinh], [DienThoai], [DiaChi], [MatKhau], [MaNhom], [TinhTrang], [HinhAnh]) VALUES (N'2311230001', N'Nguyễn Thành Đô', N'abcd@gmail.com', CAST(N'2005-06-25' AS Date), N'0123654789', N'78 Lê Trọng Tấn, phường Tây Thạnh, quận Tân Phú, thành phố Hồ Chí Minh', N'123456', N'Gue', N'Active', N'2311230001.jpg')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [Email], [NgaySinh], [DienThoai], [DiaChi], [MatKhau], [MaNhom], [TinhTrang], [HinhAnh]) VALUES (N'2311230002', N'Trần Văn Sĩ', N'xyz@gmail.com', CAST(N'2001-05-25' AS Date), N'0245613987', NULL, N'123456', N'Gue', N'Blocked', NULL)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [Email], [NgaySinh], [DienThoai], [DiaChi], [MatKhau], [MaNhom], [TinhTrang], [HinhAnh]) VALUES (N'Ashikaga', N'Trần Thiên Phong', N'def@gmail.com', CAST(N'2023-11-09' AS Date), N'0125864254', N'140 Lê Trọng Tấn, Sơn Kỳ, Tân Phú, , Hồ Chí Minh.', N'123456', N'Gue', N'Active', N'Ashikaga.jpg')
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [MoTa], [NgayBatDau], [NgayKetThuc], [GiamGiaPhanTram], [SoLuongToiThieu], [SoLuongToiDa], [ApDungToanBo], [MaLoai], [MaNhom], [MaNCC], [TinhTrang]) VALUES (1, N'KM1%', N'Khuyen mai 1% cho san pham mua tu 6 den 9', CAST(N'2023-01-01' AS Date), CAST(N'2023-01-31' AS Date), CAST(1.00 AS Decimal(5, 2)), 6, 9, 1, NULL, NULL, NULL, 1)
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [MoTa], [NgayBatDau], [NgayKetThuc], [GiamGiaPhanTram], [SoLuongToiThieu], [SoLuongToiDa], [ApDungToanBo], [MaLoai], [MaNhom], [MaNCC], [TinhTrang]) VALUES (2, N'KM5%', N'Khuyen mai 5% cho san pham mua tu 10 tro len', CAST(N'2023-01-01' AS Date), CAST(N'2023-01-31' AS Date), CAST(5.00 AS Decimal(5, 2)), 10, 100, 1, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[Loai] ON 

INSERT [dbo].[Loai] ([MaLoai], [TenLoai]) VALUES (1, N'Sofa')
INSERT [dbo].[Loai] ([MaLoai], [TenLoai]) VALUES (2, N'Ghế Thư Giãn')
INSERT [dbo].[Loai] ([MaLoai], [TenLoai]) VALUES (3, N'Bàn')
SET IDENTITY_INSERT [dbo].[Loai] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DienThoai], [DiaChi]) VALUES (1, N'JOY', N'147852365', N'Hồ Chí Minh')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DienThoai], [DiaChi]) VALUES (2, N'STUDENT', N'15478556', N'Vũng tàu')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [DienThoai], [DiaChi]) VALUES (3, N'DOMINIK', N'12554122', N'Lang Sơn')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [CCCD], [Email], [NgaySinh], [DienThoai], [MatKhau], [MaNhom], [TinhTrang], [HinhAnh]) VALUES (N'Admin', N'Nguyễn Chí Nguyện', N'0792xxxxxxx', N'abc@gmail.com', CAST(N'2002-05-16' AS Date), N'0123456789', N'123', N'Adm', N'Active', NULL)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [CCCD], [Email], [NgaySinh], [DienThoai], [MatKhau], [MaNhom], [TinhTrang], [HinhAnh]) VALUES (N'NV3301', N'nhu', N'', N'', CAST(N'2023-12-17' AS Date), N'', N'123', N'User', N'Active', NULL)
GO
INSERT [dbo].[NhomNguoiDung] ([MaNhom], [TenNhom]) VALUES (N'Adm', N'Admin')
INSERT [dbo].[NhomNguoiDung] ([MaNhom], [TenNhom]) VALUES (N'Gue', N'Guest')
INSERT [dbo].[NhomNguoiDung] ([MaNhom], [TenNhom]) VALUES (N'User', N'User')
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [TinhTrang], [MaNCC], [MoTa], [MaLoai], [KichThuoc], [MauSac], [ChatLieu], [XuatXu], [DonVi], [ChuongTrinhApDung], [GhiChu], [SoLuongTon], [HinhAnh], [DonGia], [GiaNhap], [GiaBan]) VALUES (N'2000236', N'Vỏ gối tựa Polyester Vàng Elise', 1, 19, NULL, 6, N'L50xW30', N'Vàng', N'100% Polyester', N'Việt Nam', N'PCS', N'1 Năm Bảo Hành;Đổi trả trong 3 ngày(Không áp dụng chính sách đổi trả và bảo hành với những sản phẩm CLEARANCE)', NULL, 60, N'2000236.jpg', CAST(199000 AS Decimal(18, 0)), CAST(100000 AS Decimal(18, 0)), CAST(7990000 AS Decimal(18, 0)))
GO
ALTER TABLE [dbo].[CTHoaDon]  WITH CHECK ADD  CONSTRAINT [FK__CTHoaDon__MaHD__4AB81AF0] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[CTHoaDon] CHECK CONSTRAINT [FK__CTHoaDon__MaHD__4AB81AF0]
GO
ALTER TABLE [dbo].[CTHoaDon]  WITH CHECK ADD  CONSTRAINT [FK__CTHoaDon__MaSP__4BAC3F29] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTHoaDon] CHECK CONSTRAINT [FK__CTHoaDon__MaSP__4BAC3F29]
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuNhap_PhieuNhap] FOREIGN KEY([MaPN])
REFERENCES [dbo].[PhieuNhap] ([MaPN])
GO
ALTER TABLE [dbo].[CTPhieuNhap] CHECK CONSTRAINT [FK_CTPhieuNhap_PhieuNhap]
GO
ALTER TABLE [dbo].[CTPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPhieuNhap_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[CTPhieuNhap] CHECK CONSTRAINT [FK_CTPhieuNhap_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__MaKH__46E78A0C] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__MaKH__46E78A0C]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK__HoaDon__MaNV__47DBAE45] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK__HoaDon__MaNV__47DBAE45]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomNguoiDung] ([MaNhom])
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomNguoiDung] ([MaNhom])
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMai_Loai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Loai] ([MaLoai])
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [FK_KhuyenMai_Loai]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMai_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [FK_KhuyenMai_NhaCungCap]
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_KhuyenMai_NhomNguoiDung] FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomNguoiDung] ([MaNhom])
GO
ALTER TABLE [dbo].[KhuyenMai] CHECK CONSTRAINT [FK_KhuyenMai_NhomNguoiDung]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomNguoiDung] ([MaNhom])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomNguoiDung] ([MaNhom])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[Quyen]  WITH CHECK ADD FOREIGN KEY([MaMH])
REFERENCES [dbo].[ManHinh] ([MaMH])
GO
ALTER TABLE [dbo].[Quyen]  WITH CHECK ADD FOREIGN KEY([MaMH])
REFERENCES [dbo].[ManHinh] ([MaMH])
GO
ALTER TABLE [dbo].[Quyen]  WITH CHECK ADD FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomNguoiDung] ([MaNhom])
GO
ALTER TABLE [dbo].[Quyen]  WITH CHECK ADD FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NhomNguoiDung] ([MaNhom])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK__SanPham__MaLoai__3C69FB99] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[Loai] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK__SanPham__MaLoai__3C69FB99]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_NhaCungCap]
GO
USE [master]
GO
